<script type="ts">
  import * as service from "@/services/jolimoi.service";

  let decimal: string = "";
  let result: string = "";
  let hasError: boolean = false;

  const onClick = () => {
    service
      .arabicToRoman(decimal)
      .then(function (response) {
        hasError = false;
        result = response.data;
      })
      .catch(function (error) {
        console.error(error);
        hasError = true;
        result = error.response.data.message;
      });
  };
</script>

<input class= "{hasError ? "error-input" : ""}" bind:value={decimal} />
<button on:click={onClick}> arabic to roman </button>
{#if result}
  <div class={hasError ? "error-result" : ""}>{result} (ajax)</div>
{/if}

<style>
  .error-input {
    border-color: red;
  }
  .error-result {
    color: red;
  }
</style>
