<script>
  let result;
  const eventSource = new EventSource(`${process.env.BACKEND}/api/jolimoi/sse`);
  eventSource.onmessage = ({ data }) => {
    console.log("New message", data);
    result = data;
  };
</script>

{#if result}
  <div>{result} (sse)</div>
{/if}
